[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
python-dotenv = "*"

[requires]
python_version = "3"

[scripts]
autogen = "sphinx-autogen -o ./docs autogen.rst"
make-html = "bash -c 'sphinx-build -a ./docs ./docs/_build/html && rm -rf ./docs/_build/html/.doctrees ./docs/_build/html/.buildinfo'"
